@import '~/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 25%;
  max-width: 480px;
  min-width: 360px;
  height: 100%;
  min-height: 100vh;

  padding: 2rem;
  box-sizing: border-box;

  background-color: $GRAY_001;
  color: $WHITE_000;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.singleInputContainer {
  display: flex;
  justify-content: space-between;

  & > label {
    display: flex;
    align-items: center;
  }

  & > input {
    width: 2rem;
    height: 2rem;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.submitButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;

  & > button {
    height: 2.5rem;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.FHD_Button {
  height: 5rem;
  aspect-ratio: 16/9;
}

.XGA_Button {
  height: 5rem;
  aspect-ratio: 4/3;
}

.backgroundTypeSelectButton {
  height: 5rem;
  aspect-ratio: 16/9;
}

.submitButton {
  background-color: $GREEN_000;

  &:hover {
    background-color: $GREEN_001;
  }
}
