@import '~/styles/variables';

.container {
  display: flex;

  width: 80%;

  background-color: $GRAY_ALPHA_000;
}

.canvasWrapper {
  display: flex;
  justify-content: center;

  width: 60%;

  box-shadow: 5px 5px 5px $BLACK_ALPHA_000;
  box-sizing: border-box;

  margin: auto;
}

.canvas {
  width: 100%;
}
