$BLACK_000: #000000;
$BLACK_ALPHA_000: #0000004d;
$GRAY_001: #333333;
$GRAY_005: #8f8f8f;
$GRAY_006: #aaaaaa;
$WHITE_000: #ffffff;
$GREEN_000: #4b9910;
$GREEN_001: #6dc32b;
$GREEN_002: #36700a;
$RED_000: #ff0000;
$RED_001: #be2e2e;
