@import '~/styles/variables';

.BackgroundControlContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttonContainer {
  display: flex;

  button {
    width: 5rem;
    height: 3rem;
    border-right: 1px solid $GRAY_ALPHA_000;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.singleInputContainer {
  display: flex;
  justify-content: space-between;

  & > label {
    display: flex;
    align-items: center;
  }

  & > input {
    width: 2rem;
    height: 2rem;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  button {
    width: 10rem;
    height: 5rem;

    border-right: 1px solid $GRAY_ALPHA_000;
  }
}
.selected {
  background-color: $GREEN_002;

  &:hover {
    background-color: $GREEN_002;
  }
}

.firstButton {
  border-radius: 5px 0 0 5px;
}

.buttonContainer > .lastButton,
.buttonWrapper > .lastButton,
.lastButton {
  border-radius: 0 5px 5px 0;
  border: none;
}

.imageInButton {
  width: 30%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  button {
    width: 5rem;
    height: 5rem;

    border-radius: 5px;
  }
}

.whiten {
  filter: brightness(130%);
}

.darken {
  filter: brightness(80%);
}
