@import '~/styles/variables';

.tabContainer {
  display: flex;
  gap: 0.5rem;

  position: absolute;

  right: 0;

  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0 0 0 15px;

  color: $WHITE_000;
  background-color: $WHITE_000;
}

.tabButton {
  background: none;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    background: none;

    img {
      fill: $WHITE_000;
    }
  }
}
